/* Comenzamos nuestro diseño para dispositivo movil */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}

body{
    background-color: #09000c;
    width: 100%; 
}

/* Diseño Header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}   

nav{
    width: 100%;
}

ul, ul a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

nav ul li{
    background-color:  #9D0208;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

form, .button {
    background-color:  #9D0208;
    color: Black;
    border: none;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px;
    border-radius: 10px;
}

.Busqueda {
    color: black;
}

.CuadrodeBusqueda {
    background-color: #9D0208;
    border: solid 2px black;
    padding: 3px;
    border-radius: 10px;
}

.CuadrodeBusqueda ::placeholder {
    color: black;
    text-decoration: none;
}

.logo1{
    width: auto;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoneon1 {
    margin: 10px;
    width: auto;
    height: 150px;
    border-radius: 50%;
}

.logoneon2{
    display: none;
}

/* Comenzamos con los diseños de los HTML */
/* Diseño Home */
.tit1{
    background-color: #96009d;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
}

.colInfo{
    margin-top: 15px;
    color: white;
}

p {
    font-size: 14px;
    color: white;
}

/* Diseño de las canciones del Home */
.section1 {
    display: flex;
    flex-direction: row; 
}

.section2 {
    display: flex;
    flex-direction: row-reverse; 
}

.section1, .section2 {
    border: dashed 1px #96009d;
    border-radius: 3%;
    align-items: center;
    padding-bottom: 15px;
    margin-left:10px;
    margin-right: 10px;
    margin-top: 5px;
}

.section1 .colFotos, .section2 .colFotos{
    margin: 10px 10px 0px 10px;
}

.colFotos img{
    height: 130px;
    width: 100%;
    max-width: 150px;
    border-radius: 5%;
}

.section1 .colInfo, .section2 .colInfo{
    padding-left: 15px;
    padding-right: 15px;
}

.section2 .colInfo{
    text-align: right;
}

.section1 a, .section2 a, footer a{
    text-decoration: none;
    color: white;
}

/* Diseño de los DJs del Home */
.sectiondj {
    width: 100%;  /*De esta manera el ancho ocupa el 100% del body*/
}

.djname{
    border:solid 5px #96009d;
    background: linear-gradient(100deg, #c302d5,Black);
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.djname a{     /*Cambia el color de hipervinculos de los artistas/DJs nomas.*/
    color: White;
}

.sectiondj img {
    width: 100%;
    height: 300px;
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5%;

}

/* Diseño de los Albumes del Home*/
.secalbum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.albums {
    width: 95%;
    margin: 3px;
    padding: 5px;
    border: dashed #96009d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.albumborder {
    margin: 3px;
    padding: 5px;
    width: 95%;
    border: dotted  #9D0208;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album1 {
    margin: 3px;
    padding: 5px;
    border: solid #350143;
    width: 95%;
    height: 300px;
}

.albumtext, .albumtext a {
    color: white;
}


/* Comenzamos con los diseños de los Detalles */
/* Diseño Detalles de Albumes */
.sectiondiscos {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}

.artdiscos1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: solid #96009d;
}

.artdiscos2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    border: solid #96009d}

.imgalbums {
    width: 45%;
    height: 200px;
    margin: 10px;
    padding: 3px;
    border-radius: 2%;
    border: solid #96009d}

.datosalbum {
    font-size: 17px;
    margin: 10px;
}

.songlist {
    color: white;
}

.sectiondiscos ul li{   
    background-color:  rgb(0, 0, 77);
    color: rgb(239, 76, 39);
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
}

/* Diseño de Artistas-DJs */
.sectionartistas {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: solid rgba(0, 0, 0, 0.25);
}

.djarticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.djname, .toptracks {
    color: white;
}

.artistasimg {
    width: 40%;
    max-width: 200px;
    height: 170px;
    border-radius: 50%;
    border: solid black;
    margin-bottom: 5px;
    padding: 3px;
}

.seguirdj {
    display: flex;
    padding: 5px;
    background-color:rgba(50, 50, 50, 0.4);
    border-radius: 25%;
    margin-bottom: 30px;
}

.sectionartistas ul{
    width: 100%;
}

.sectionartistas ul li{   
    background-color:  rgba(0, 0, 0, 0.7);
    color: #c302d5;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
}

.cancionesDj{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos Detalle de Genero */
.sectiondetailgen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    border: dashed  #96009d;
    padding: 10px;
}

.artdetailgen {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.imgdetailgenre {
    width: 30%;
    height: 100px;
    margin: 10px;
    padding: 3px;
    border-radius: 15px;
    border: solid #c302d5;
}

.datosdetgen {
    font-size: 15px;
    margin: 10px;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imgbands {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.sectiondetailgen ul{
    width: 100%;
}

.sectiondetailgen ul li{   
    background-color:  rgba(0, 0, 0, 0.7);
    color: #c302d5;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

.vermas {
    padding: 5px;
    width: 25%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

/* Diseño Detalles de Cancion */
.tit2{
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;    
}

.info1{
    border: dashed 1px  #96009d;;
    border-radius: 3%;
    display: flex;
    margin: 15px 10px 25px 10px;
    width: auto;
    flex-direction: row;
}

.info1 .colFotos{      /*Aclaramos que es la "colFotos" unicamente de ".info1"*/
    width: 35%;
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.info1 .colInfo{
    width: 65%;
}

.info1 p{
    color: #c302d5;
    padding-top: 3px;
}

.disco1{                   /*.disco1 representa la imagen de cada disco*/
    height: 125px;
    width: 100%;
    border-radius: 5%;
    margin:0px;
}

.agregarPlayList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.miMusica{
    color: #c302d5;
    text-align: end;
    margin-top: 5px;
    padding: 3px;
}

#icono, .miMusica a{
    color: #c302d5;
}

.reproductor{
    width: 80%;
    margin-top: 10px;
    height: 20px;
}

/* Diseño de Playlist */
.headPL{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    color: white;
}

.randommix {
    display: flex;
    align-items: center;
}

.headPL h1{
    text-align: left;
    font-size: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.headPL h2{
    background-color:  #9D0208;
    padding: 4px;
    text-align: center;
    margin: 15px 10px 25px 10px;
    border-radius: 15px;
}

.elemento1PL{
    display: flex;
    align-items: center;
    padding: 3px;
    height: 75px;
}

.elemento1PL p{
    font-size: 15px;
    padding-bottom: 3px;
}

.imgPL{
    width: 20%;
    max-width: 90px;
    border-radius: 50%;
    height: 70px;
}

.infoPL{
    width: 80%;
    padding: 10px;
}

.adicionalPL{
    display: none;   /*Cuando estamos en "mobile" no mostramos esto!*/
}

/* Diseño de Genero */
.generos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-right: 10px;
    padding-left: 10px;
    gap: 10px;
    border-radius: 30px;
}

.gen{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.genAd{
    display: none;
}

.generos h2{
    text-align: left;
    color: white;
    margin-top: 5px;
}

.generos img{
    width: 100%;
    height: 150px;
    padding: 5px 0px 0px 0px;
    border-radius: 20px;
}

.tit3{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.tit4{
    color: white;
    margin-left: 10px;
}

/* Busqueda de Musica */
.busquedademusica {
    width: 100%; 
}

.pBusqueda {
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
    
}

.ImgBusqueda {
    width: 100%;
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5%;
}

.ImgBusqueda img{
    width: 100%;
}

.TitMusic {
    width: 100%;
    color:black;
    text-align: center;
    border-radius: 30px;
    background-color: #96009d;
}

.secalbum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.Titresults {
    font-size:x-large;
    background-color: #9D0208;
    margin: 2%;
    color: Black;
    text-decoration: none;
    padding-right: 2%;
    padding-left: 2%;
    border-bottom: solid 1px grey;
    margin: 0%;
    margin-bottom: 10px;
}

.audio{
    padding-right: 10px;
    padding-left: 10px;
    display:flex;
    background-color: #c302d5;
    border-radius: 30px ;
    margin-bottom: 10px;
}

.playlist {
    float: left;
    width: 30%;
    padding: 9px;
    border-radius: 5px 0px 0px 5px;
    align-items: right;   
    font-size: 16.5px;
    margin-top: 10px;
    margin-bottom: 5px ;
}

.reproductordebusqueda{
    width: 70%;
    margin-top: 10px;
    height: 30px;
    margin-bottom: 5px ;
}
 
#Homeicon {
    color: Black;
}

.Temasrelacionado {
    background: linear-gradient(100deg, #c302d5,Black);
    width: 100%;
    text-align: center;
    border: solid 5px #96009d;
    border-left: none;
    border-right: none;
    color: white;
    margin-bottom: 10px;
}

.detalle {
    text-decoration: none;
    color: white;
}


/* Footer */
footer{
    background-color: #9D0208;
    height: 8%;
    width: auto;
    margin-top: 15px;
    padding-top: 20px;
}

.terminos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px 5% 0px 5%;
    font-size: 12px;
}

.terminos li{
    text-align: center;
}

.miniterminos {
    border-right: solid 1px grey;
    color: #D5B6A3;
    margin: 0px 5px 5px 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#copyright {
    color: rgb(161, 160, 160);
    text-align: center;
    font-size: 12px;
    margin-top: 7px;
}

.socialmedia {
    display: flex;
    justify-content: center;
    margin: 3px;
    margin-top: 5px;
}
.logosocialmedia {
    width: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.fab fa-instagram, .fab fa-facebook-square, .fab fa-twitter {
    color: rgba(255,255,255,0.5);
}

.namescontainer {
    padding: 5px;
    background-color: black;
}

.names {
    color: rgb(161, 160, 160);
    width: 100%;
    text-align: center;
    font-family: 'Arapey', serif;
    font-size: 10px;
    align-content: center;
    margin: 0%;
    background-color: black;
}


/* Comenzamos con los media Querie */
@media (min-width:1024px){
    /* Diseño del Header */
    header{
        padding: 0px;
    }

    .navbar {
        flex-direction: row;
    }
    
    /* Diseño de Nav */
    nav{
        background-color: #9D0208;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
    
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
        width: 92%;
    }

    nav ul li{
        background-color: transparent;
        display: flex;
        justify-content: flex-start;
        margin: 0px;
        width: 15%;
        font-size: 15px;
    }

    .logo2{
        width: 8%;
    }

    .logo1{
        display: none;
    }
    
    .logoneon2{
        display: block;
        width: 75%;
        height: 50px;
        padding: 3px;
        border-radius: 50%;
    }

    ::placeholder{
        color: transparent;   /*Le quitamos lo que dice dentro*/
    }

    /* Diseño de Home */
    .tit1{
        width: auto;
        margin: 10px;
    }

    .renglon{
        display: flex;
        gap: 200px;
        margin: 10px;
    }

    .renglon2home {
        display: flex;
        gap: 150px;        /*Genera un espacio semejante al margin estre los elementos dentro del contenedor padre*/
        margin: 10px;
    }

    .renglon3home {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        width: auto;
    }

    .section1, .section2{
        width: 100%;
        margin: 0px;
        border: none;
    }

    .section2{
        flex-direction: row;
    }

    .cancion1 {
        width: 150px;
        height: 150px;
    }

    .section2 .colInfo{
        text-align: left;
    }
    
    /* Lista de DJs */
    .sectiondj{
        display: flex;
        flex-direction: column;
        width: 33%;
    }

    .artistas{
        height: 200px;
        width: 300px;
    }

    /* Lista Albumes */
    .secalbum{
        margin: 5px 5% 0px 0px;
        width: 40%;
    }

    /* Diseño de Generos */
    .generos{
        width: 100%;
        justify-content: space-between;
    }
    
    .generos h2{
        font-size: 20px;
    }

    .gen{
        width: 30%;
    }

    .gen img, .genAd img{
        height: 250px;
    }

    .genAd{
        display: inline;
        width: 30%;
    }

    /* Diseño Playlist */
    .headPL h1{
        font-size: 30px;
    }
    
    .headPL h2{
        font-size: 20px;
    }

    .elemento1PL {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        height: 90px;
        margin: 0px 10px 0px 10px;
        border-top: dashed 1px rgba(100, 100, 100);
    }

    .elemento1PL p{
        font-size: 15px;
    }

    .imgPL{
        height:65px;
    }

    .infoPL{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .infoPL p{
        width: 20%;
        padding: 10px;
    }

    .adicionalPL {
        display: inline; 
    }

    /* Diseño Detalle de Generos */
    .artdetailgen{
        align-items: flex-end;
    }
    
    .artdetailgen p{
        font-size: 20px;
    }

    .imgdetailgenre{
        height: 270px;
    }

    .sectiondetailgen ul li{
        height: 50px;
    }

    .vermas{
        height: 40px;
        font-size: 15px;
    }

    /* Diseño de Detalles de Canciones */
    .info1{
        width: 50%;
        margin: 10px 0px 0px 0px;
        border: none;
    }

    .tit2{
        margin-top: 10px;
    }

    /* Diseño Detalles de Artistas */
    .toptracks{
        font-size: 25px;
    }

    .cancionesDj{
        font-size: 25px;
    }

    .artistasimg{
        max-width: 170px;
    }

    /*  Diseño Detalles de Albumes*/
    .sectiondiscos ul li{
        width: 50%;
        margin-top:7px;
    }
    
    .sectiondiscos .vermas{
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .sectiondiscos h2{
        margin-top: 10px;
    }

    .artdiscos1{
        width: 50%;
    }

    .artdiscos2{
        width: 50%;
        flex-direction: row;
    }

    /* Diseño de Resultado de Busqueda */
    .TitMusic, .audio{
        width: auto;
        margin: 10px;
    }
    
    .busquedademusica{
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 0px;
        margin-bottom: 30px;
    }

    .ImgBusqueda{
        width: 30%;
        height: 350px;
    }

    .pBusqueda p{
        font-size: 25px;
    }

    
}
