/* Comenzamos nuestro diseño para dispositivo movil */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    /* background-color: rgba(94, 2, 180, 0.9); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100vw;
}   

body{
    background-color: rgb(0, 0, 0);
    width: 100vw; /*Ocupe en todo momento todo el ancho de la pantalla*/
}

nav{
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    border-radius: 30%;
    width: 50%;
    margin-bottom: 15px;
}

ul, ul a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

nav ul li{   /*Aplica el diseño unicamente a las listas dentro de <nav></nav>*/
    background-color: brown;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
}

form, .button {
    background-color: brown;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
    color: Black;
    border: none;
}


.Busqueda {
    color: black;
    
}

.CuadrodeBusqueda {
    background-color:rgb(241, 45, 67) ;
    border: none;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 3px;
    border-radius: 10px;


}

::placeholder {
    color: black;
    text-decoration: none;
}




.tit1{
    background-color: rgba(184, 1, 221, 0.842);
    padding: 5px;
    margin-top: 10px;
    border-radius: 7%;
}

.cancion1 {
    margin-top: 15px;
    margin-left: 10px;
    height: 20vh;
    width: 20vh;
    border-radius: 5%;
}

.section1 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 10px;
    border: solid 1px brown;
}

h3 {
    margin-top: 15px;
    color: white;
}

p {
    color: white;
    font-size: 14px;
}

.section2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    width: 100vw;
    border: solid 1px brown;
}

/* Estilos de Detalles */
.tit2{
    color: white;
    margin-bottom: 10px;
}

.info1{
    background-color: yellow;
    display: flex;
    margin-bottom: 25px;
    margin-top: 15px;
    width: 100vw;
    flex-direction: row;
}

.info1 .colFotos{      /*Aclaramos que es la "colFotos" unicamente de ".info1"*/
    background-color: violet;
    display: flex;
    margin-right: 10px;
    padding-left: 3px;
    align-items: center;
    justify-content: center;
}

.info1 .colInfo{
    background-color: yellowgreen;
}

.info1 p{
    color: rgb(224, 96, 64);
    padding-top: 3px;
}

.disco1{                   /*.disco1 representa la imagen de cada disco*/
    height: 15vh;
    width: 15vh;
    border-radius: 5%;
}

.audio{                       /*Dentro de audio tenemos tanto el reproductor como el icono para agregar a la playlist*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
}

.miMusica{
    text-align: end;
    padding: 3px;
}

.reproductor{
    width: 80%;
    height: 20px;
}

footer{
    display: flex;
    flex-direction: row;    
}

.Paginas{
    display: inline-block;
    width: 50%;
    font-size: 14px;
    vertical-align: middle;
    margin: 0.75px;
    padding-right: 10px;
    text-align: center;
}

.Nombre{
    display: inline-block;
    width: 50%;
    font-size: 14px;
    color: #333;
    vertical-align: middle;
    margin: 0.75px;
    padding-right: 10px;
   
}

.afooter{
    color: white;
}