/* Comenzamos nuestro diseño para dispositivo movil */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Diseño para el home de nuestra página */

header{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100vw;
}   

body{
    background-color: rgb(170, 209, 120);
    width: 100vw; /*Ocupe en todo momento todo el ancho de la pantalla*/
}

nav{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    border-radius: 30%;
    width: 50%;
    margin-bottom: 15px;
}

ul, ul a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

nav ul li{   /*Aplica el diseño unicamente a las listas dentro de <nav></nav>*/
    background-color: brown;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
}

.listas{
    background-color: palevioletred;
    display: flex;

    flex-direction: row;
    justify-content: flex-end;
}

.listas h3{
    background-color: orange;
    border-radius: 7%;
    text-align:left;
    height: 70px;
    width: 33%;
    margin: 2px;
    padding: 3px;
}

.list1{
    background-color: olive;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

h2{
    background-color: cadetblue;
    width: 100%;  /*Hacemos que ocupe el 100% de su contenedor padre. En este caso, el ".list1"*/
    text-align:left
}

.list1 ul li{
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 3px;
}
